footer{
	margin-bottom:60px;
}

.section {
    margin-bottom: 30px;
}

hr {
	border-top: 1px solid #000;
}
.parting-line {
    margin-top: 0;
    margin-bottom: 30;
    border: solid, #000000;
}

.footer {
		color: $light-gray;
		font-size: 14px;


    .footer-link {
        float: right;

        li {

            float: left;
            padding-left: 30px;
            display: block;

            a {
		color: $light-gray;

                &:hover {
                    color: $brand-gray;
                    transition: 500ms;
                }
            }
        }
    }
}