.intro{
	text-align:center;
	.hero{
		background-image: url("../../images/hero_bg.png");
		height: 420px;
        background-size: cover;
        background-position: center;
	}
	.slogan{
		padding-top: 10%;
		padding-bottom: 3%;
		margin:auto;
		p{
			color: #fff;
			font-size:32px;
			line-height: 35px;
		}
	}
	.btn-primary{
		width: 180px;
	}	
}