.intro{
	text-align:center;
	.hero{
		background-image: url("../../images/hero_bg.png");
		height: 420px;
        background-size: cover;
        background-position: center;
	}
	.slogan{
		padding-top: 15%;
		padding-bottom: 5%;
		margin:auto;

		@media (max-width: $mmd-break){
            padding-top: 20%;
			padding-bottom: 10%;
        }
		p{
			color: #fff;
			font-size:32px;
			line-height: 35px;
		}
	}
	.btn-primary{
		width: 180px;
	}	
}