.site-header{
    width: 100%;
    height: 120px;
    z-index: 1000;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-property: all;
    transition-property: all;
    border-top: 5px solid #2baeec;

    .navbar-brand{
        padding:10px;
        height:100px;
    }

    .brand{
        padding-top:10px;
        height:45px;

        @media (max-width: $mmd-break){
            display: none;
        }

        img{
            padding-right:10px;
            height:24px;
        }
        p{
            font-size: 24px;
            margin:0;
            color: #2baeec;
        }

    }
    .navbar{
        background-color: #e9f6fb;
        border-bottom: none;
    }

    .navbar-default .navbar-nav{

        li{
            font-size: 16px;
            a{
                color: $brand-primary;
                font-weight: 600;
            }
        }

    }
    @media screen and (max-width: $sm-break){
        padding-left: 15px;
        padding-right: 15px;
    }

    @media screen and (max-width: $mobile-break){
        padding-left: 15px;
        padding-right: 15px;
        height: 90px;
    }

    &.sticked{
        background: rgba(255,255,255,0.9);
        padding-top: 0px;
        height: 55px;
        
        .wrpr{
            border-bottom: 0;
        }

        .primary-menu{
            a{
                color: $brand-gray;

                &:hover{
                    color: $brand-primary;
                }
            }
        }

        .navbar-toggle .icon-bar{
            background: $brand-primary;
        }

        .logo{
            > a {
                > svg{
                    .st0{
                        fill: $brand-primary;
                    }
                }
            }
        }

    }

    .wrpr{
        border-bottom: 1px solid #FFF;
        padding-left: 0;
        padding-right: 0;
    }

    .logo{
        float: left;
        margin-top: 14.5px;
        > a{
            display: block;
            > svg{
                width: 253px;
                @media screen and (max-width: $mobile-break){
                    width: 225px;
                }
                @media screen and (max-width: 360px){
                    width: 205px;
                }
            }
        }
    }

    .navbar-collapse{
        background: $light-blue;
        @media screen and (max-width: $menu-break){
            background: $light-blue;
        }
    }

    .primary-menu{
        a{
            font-size: em(15);
            font-weight: 500;
            text-transform: uppercase;
            color: #FFF;

            &:hover{
                background: transparent;
            }

        }

    }

}
